.slider {
	visibility: hidden;
	.slider_viewport {
		position: relative;
		overflow: hidden;
		.slider_container {
			height: 100%;
			> * {
				position: absolute;
			}
			.prev {
				left: -100%;
			}
			.curr {
				left: 0;
			}
			.next {
				left: 100%;
			}
		}
	}
}