@import 'includes/base';

body {
	background: #efefef;
}

#slider {
	width: 50%;
	padding: 1rem;
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
	&:hover {
		box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.2);
		transition: all 0.2s;
	}
}